**Collecting Data by webscrapping**

Import relevant modules

In [1]:
import requests
import pandas as pd
import numpy as np

Generate the list of dictionaries of the job postings

In [2]:
baseurl = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/datasets/githubposting.json"
r=requests.get(baseurl)
r.json()

[{'A': 'technology', 'B': 'number of job posting'},
 {'A': 'java', 'B': '92'},
 {'A': 'C', 'B': '184'},
 {'A': 'C#', 'B': '14'},
 {'A': 'C++', 'B': '24'},
 {'A': 'Java', 'B': '92'},
 {'A': 'JavaScript', 'B': '65'},
 {'A': 'Python', 'B': '51'},
 {'A': 'Scala', 'B': '47'},
 {'A': 'Oracle', 'B': '6'},
 {'A': 'SQL Server', 'B': '16'},
 {'A': 'MySQL Server', 'B': '5'},
 {'A': 'PostgreSQL', 'B': '17'},
 {'A': 'MongoDB', 'B': '4'}]

Create an empty dataframe and add data into it

In [3]:
tech_list = r.json()
tech_list
gitlab=pd.DataFrame(columns=['Technology','Number Of Job Postings'])
for item in tech_list:
    gitlab = gitlab.append({'Technology':item['A'],'Number Of Job Postings':item['B']},ignore_index=True)
gitlab
gitlab.drop([0,0], axis=0, inplace = True)
gitlab

      Technology Number Of Job Postings
1           java                     92
2              C                    184
3             C#                     14
4            C++                     24
5           Java                     92
6     JavaScript                     65
7         Python                     51
8          Scala                     47
9         Oracle                      6
10    SQL Server                     16
11  MySQL Server                      5
12    PostgreSQL                     17
13       MongoDB                      4

Export dataframe to Excel file

In [4]:
#your code goes here
from google.colab import drive
drive.mount('drive')
df=pd.DataFrame(gitlab)
df.to_excel('GitHub-Job-Posting.xlsx')
df
!cp GitHub-Job-Posting.xlsx "drive/My Drive/"

Mounted at drive